NET SYS_CLK LOC = T8 | TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET KEY1		LOC = C3 | IOSTANDARD = "LVCMOS33";
NET LED1		LOC = P4 | IOSTANDARD = "LVCMOS33";

#NET UART_RX	LOC = C11 | IOSTANDARD = "LVCMOS33";
NET UART_TX	LOC = D12 | IOSTANDARD = "LVCMOS33";